<div class="panel panel-primary">
	<div class="panel-heading">Login Form</div>
	<div class="panel-body">
		<input type="text" 
			class="form-control"
			placeholder="please enter username" 
			[(ngModel)]="formData.userName"
			(input)="checkInput()">
		<input type="password" 
			class="form-control"
			placeholder="please enter password" 
			[(ngModel)]="formData.password"
			(input)="checkInput()">
	</div>
	<div class="panel-footer">
		<button class="btn btn-primary btn-small"
			[disabled]="!formData.formValid"
			(click)="login()">Login</button>
	</div>
</div>	

<p>
  {{loginMessage}}
</p>

